*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    letter-spacing: 0.2em;
    border: 2px solid black;
    width: 130px;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    margin-left: 200px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    
}
header{
    margin-top: 20px;
}
.nav{
    text-transform:uppercase;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Mukta', sans-serif;
    line-height: 50px;
    display: inline-block;
    letter-spacing: 0.1em;
}
.nav1{
    font-size: 10px;
}
.icon{
    margin-left: 20px;
    font-size: 16px;
}
.icon1{
    height: 17px;
    width: 17px;
    background-color: #EE5166;
    border-radius: 50px;
    position: absolute;
    top: 24px;
    left: 1320px;


}
.icon1 p{
    font-size: 11px;
    /* padding-left: 4px; */
    padding-top: 2px;
    text-align: center;
    color: white;
}
.d1{
    height: 550px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
.d1 img{
    height: 800px;
    width: 1700px;
    margin-left: -00px;
    margin-top: -100px;
}
.main .h{
    position: relative;
    left: 200px;
    font-family: 'Mukta', sans-serif;
}
.d3{
    height: 800px;
    width:73% ;
    margin-left: 200px;
    margin-top: 100px;
}
.d3 h2{
    font-size: 28px;
    font-family: 'Mukta', sans-serif;

}
.d3-1{
    height: 650px;
    width: 49%;
    border: 0.5px solid #8c92a0 ;
    display: inline-block;


}
.d3-2{
    height: 650px;
    width: 47%;
    display: inline-block;
    margin-left: 3%;
    margin-top: -600px;
    position: relative;
    top:-335px;
}
input{
    height: 40px;
    width: 230px;
    border: 1px solid #8c92a0;
    border-radius: 5px;
}
label{
    font-size: 16px;
    font-family: 'Mukta', sans-serif;

}
i{
    font-style: normal;
    color: #EE5166;
    font-size:16px;
}
textarea{
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid #8c92a0;

}
.d3-2-1{
    height: auto;
    width: 92%;
    border: 1px solid #8c92a0;
    margin-top: 30px;
}
.d3-2 h2{
    font-size: 16px;
    color: #EE5166;
    margin: 0px 0px 12px;
    margin-left: 20px;
    font-family: 'Mukta', sans-serif;

}
.d3-2 p{
    font-size: 16px;
    color: #8c92a0;
    margin: 0px 0px 12px;
    margin-left: 25px;
    font-family: 'Mukta', sans-serif;

}
footer{
    height:400px;
    width: 100%;
    background-color: white;
}
.footer{
    height: 450px;
    width: 80%;
    margin-left: 200px;
    margin-top: 50px;
    display: flex;
}
li{
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
    list-style: none;
    color: black;
    margin-top: 5px;
}
.fot li img{
    height: 166px;
    width: 260px;
    border-radius: 8px;
    margin-top: 10px;
}
.footer1{
    height: 400px;
    width: 350px;
}
.footer2{
    height: 400px;
    width: 150px;
}
.fot1 li{
    font-size: 16px;
    margin-top: 10px;
    
}
.fot2 li{
    font-size: 16px;
    margin-top: 10px;
    
}
.footer3{
    height: 400px;
    width: 150px;
}
.footer4{
    height: 400px;
    width: 150px;
}
.fot3 li{
    font-size: 16px;
    margin-top: 10px;
    
}
li input{
    height: 30px;
    width: 150px;
    padding-left: 3px;
}
li button{
    height: 30px;
    font-size: 14px;
    background-color: #EE5166;
    color: white;
    border: 1px solid #EE5166;
    padding: 4px 8px;
    margin-left: -6px;
}